/* @import "./vars.css"; */

.App {
  background-color: var(--color-bg);
  background-image: url('./assets/back.jpeg'); /* Adjust path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  
}



  